server.exe
node.dll
bt.dat
/dotnet/resources/DowntownRP/bin/
/dotnet/resources/DowntownRP/obj/
/dotnet/server_logs.txt
/dotnet/server_exceptions.txt
/dotnet/resources/DowntownRP/config.json
/dotnet/runtime
