	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:03
  	*/

@font-face {
  font-family: "Bodyparts";
  src: url("../fonts/bodyparts.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="bodyparts-"]:before, [class*=" bodyparts-"]:before,
[class^="bodyparts-"]:after, [class*=" bodyparts-"]:after {
    font-family: "Bodyparts";
    font-size: 20px;
    font-style: normal;
}

.bodyparts-atom-variant:before { content: "\f100"; }
.bodyparts-back-part-of-the-body-showing-butt-area:before { content: "\f101"; }
.bodyparts-ball-of-the-knee:before { content: "\f102"; }
.bodyparts-blond-female-hair-shape:before { content: "\f103"; }
.bodyparts-blond-female-short-hair-shape:before { content: "\f104"; }
.bodyparts-blood-drop-on-a-hand-wound:before { content: "\f105"; }
.bodyparts-body-cells-under-a-magnification-tool:before { content: "\f106"; }
.bodyparts-body-organ-variant-with-line:before { content: "\f107"; }
.bodyparts-body-organ-with-hair-strands-view-on-plate:before { content: "\f108"; }
.bodyparts-body-part-with-baby-inside:before { content: "\f109"; }
.bodyparts-body-part-with-lines:before { content: "\f10a"; }
.bodyparts-body-part-x-ray-internal-vision:before { content: "\f10b"; }
.bodyparts-bone-structure-tip:before { content: "\f10c"; }
.bodyparts-bones-cross:before { content: "\f10d"; }
.bodyparts-bones-silhouette-forming-a-cross-symbol:before { content: "\f10e"; }
.bodyparts-bones-x-ray-vision:before { content: "\f10f"; }
.bodyparts-bosom:before { content: "\f110"; }
.bodyparts-brain-body-organ-outline:before { content: "\f111"; }
.bodyparts-brain-inside-human-head:before { content: "\f112"; }
.bodyparts-brain-upper-view-outline:before { content: "\f113"; }
.bodyparts-brunette-female-woman-long-hair:before { content: "\f114"; }
.bodyparts-butt-wearing-underwear:before { content: "\f115"; }
.bodyparts-calf-and-foot:before { content: "\f116"; }
.bodyparts-capsule-black-and-white-variant:before { content: "\f117"; }
.bodyparts-circular-shape-variant-with-dot:before { content: "\f118"; }
.bodyparts-closed-eyes-with-lashes-and-brows:before { content: "\f119"; }
.bodyparts-closed-fist-hand-gesture:before { content: "\f11a"; }
.bodyparts-column-inside-a-male-human-body-silhouette-in-side-view:before { content: "\f11b"; }
.bodyparts-couple-of-fingers:before { content: "\f11c"; }
.bodyparts-cross-in-a-circle-on-a-human-body-silhouette:before { content: "\f11d"; }
.bodyparts-dentist:before { content: "\f11e"; }
.bodyparts-dna:before { content: "\f11f"; }
.bodyparts-dna-deoxyribonucleic-acid:before { content: "\f120"; }
.bodyparts-dna-strands-outline:before { content: "\f121"; }
.bodyparts-domino-piece-with-six-dots:before { content: "\f122"; }
.bodyparts-ear-lobe-side-view-outline:before { content: "\f123"; }
.bodyparts-ear-outline:before { content: "\f124"; }
.bodyparts-excretory-system-silhouette:before { content: "\f125"; }
.bodyparts-eye-outline-with-lashes:before { content: "\f126"; }
.bodyparts-eye-variant-with-enlarged-pupil:before { content: "\f127"; }
.bodyparts-eyeball:before { content: "\f128"; }
.bodyparts-face-of-a-woman-outline:before { content: "\f129"; }
.bodyparts-female-blond-hair-shape-outline:before { content: "\f12a"; }
.bodyparts-female-hair-variant-outline:before { content: "\f12b"; }
.bodyparts-female-hips-and-waist:before { content: "\f12c"; }
.bodyparts-female-human-eyes:before { content: "\f12d"; }
.bodyparts-female-reproductive-system-representation:before { content: "\f12e"; }
.bodyparts-female-short-hair-style-variant:before { content: "\f12f"; }
.bodyparts-female-short-hair-variant:before { content: "\f130"; }
.bodyparts-female-sign:before { content: "\f131"; }
.bodyparts-female-torso-outline-in-topless:before { content: "\f132"; }
.bodyparts-fetus-in-an-uterus:before { content: "\f133"; }
.bodyparts-first-aid-cross-in-a-circle:before { content: "\f134"; }
.bodyparts-foot-side-view-outline:before { content: "\f135"; }
.bodyparts-footprints-outline-variant:before { content: "\f136"; }
.bodyparts-gallbladder-on-viewing-plate:before { content: "\f137"; }
.bodyparts-gymnast-in-frontal-view-showing-his-muscles:before { content: "\f138"; }
.bodyparts-hair-follicle:before { content: "\f139"; }
.bodyparts-hand-bones-in-x-ray-plate:before { content: "\f13a"; }
.bodyparts-hand-finger-with-a-ribbon:before { content: "\f13b"; }
.bodyparts-hand-gesture-outline-pointing-to-the-left:before { content: "\f13c"; }
.bodyparts-hand-gesture-pointing-to-the-left:before { content: "\f13d"; }
.bodyparts-hand-gesture-raising-the-index-finger:before { content: "\f13e"; }
.bodyparts-hand-nadis:before { content: "\f13f"; }
.bodyparts-hand-outline:before { content: "\f140"; }
.bodyparts-hand-palm-outline:before { content: "\f141"; }
.bodyparts-hand-palm-outline-with-scratch-wound-with-blood-droplet:before { content: "\f142"; }
.bodyparts-hand-showing-palm-outline:before { content: "\f143"; }
.bodyparts-hand-showing-palm-outline-with-band-aid:before { content: "\f144"; }
.bodyparts-heart-black-shape-for-valentines:before { content: "\f145"; }
.bodyparts-heart-shape-outline-with-lifeline-variant:before { content: "\f146"; }
.bodyparts-heart-shape-with-beats-line:before { content: "\f147"; }
.bodyparts-heart-silhouette:before { content: "\f148"; }
.bodyparts-hips-bones-x-rays-vision:before { content: "\f149"; }
.bodyparts-hips-human-body-part:before { content: "\f14a"; }
.bodyparts-hips-x-rays-image-on-standing-man-hands:before { content: "\f14b"; }
.bodyparts-human-body-silhouette-with-focus-on-respiratory-system:before { content: "\f14c"; }
.bodyparts-human-body-silhouette-with-focus-on-the-head:before { content: "\f14d"; }
.bodyparts-human-body-silhouette-with-highlight-on-large-intestines:before { content: "\f14e"; }
.bodyparts-human-body-standing-black-silhouette:before { content: "\f14f"; }
.bodyparts-human-body-with-heart-silhouette:before { content: "\f150"; }
.bodyparts-human-body-with-x-ray-plate-focusing-on-stomach:before { content: "\f151"; }
.bodyparts-human-footprints:before { content: "\f152"; }
.bodyparts-human-hair-outline-shape:before { content: "\f153"; }
.bodyparts-human-hand-bones:before { content: "\f154"; }
.bodyparts-human-head-silhouette-with-a-line-in-mouth-pharynx-and-larynx:before { content: "\f155"; }
.bodyparts-human-hips-bones-inside-a-standing-male-body-black-silhouette:before { content: "\f156"; }
.bodyparts-human-lips:before { content: "\f157"; }
.bodyparts-human-lungs-outline:before { content: "\f158"; }
.bodyparts-human-outline-with-heart:before { content: "\f159"; }
.bodyparts-human-ribs-bones:before { content: "\f15a"; }
.bodyparts-human-silhouette-with-focus-on-the-lungs:before { content: "\f15b"; }
.bodyparts-human-silhouette-with-white-image-of-the-heart:before { content: "\f15c"; }
.bodyparts-human-skull-side-view:before { content: "\f15d"; }
.bodyparts-human-skull-side-view-silhouette:before { content: "\f15e"; }
.bodyparts-human-skull-with-crossed-bones-silhouette:before { content: "\f15f"; }
.bodyparts-hunger-games-hand-gesture:before { content: "\f160"; }
.bodyparts-hydration:before { content: "\f161"; }
.bodyparts-image-of-sperm-cells:before { content: "\f162"; }
.bodyparts-injured-tooth:before { content: "\f163"; }
.bodyparts-internal-human-organs:before { content: "\f164"; }
.bodyparts-internal-human-organs-couple:before { content: "\f165"; }
.bodyparts-intestines:before { content: "\f166"; }
.bodyparts-kidney-outline:before { content: "\f167"; }
.bodyparts-kneecap:before { content: "\f168"; }
.bodyparts-large-intestine-outline:before { content: "\f169"; }
.bodyparts-large-intestines-outline:before { content: "\f16a"; }
.bodyparts-lifeline-and-heart-shape-on-a-graphic:before { content: "\f16b"; }
.bodyparts-liquid-droplet-on-ground:before { content: "\f16c"; }
.bodyparts-liver:before { content: "\f16d"; }
.bodyparts-liver-organ-inside-the-abdomen-outline:before { content: "\f16e"; }
.bodyparts-long-wavy-hair-variant:before { content: "\f16f"; }
.bodyparts-lungs-image-on-man-hands:before { content: "\f170"; }
.bodyparts-lungs-inside-the-human-body:before { content: "\f171"; }
.bodyparts-lungs-shape-in-a-circle-on-a-human-body:before { content: "\f172"; }
.bodyparts-lungs-with-the-trachea:before { content: "\f173"; }
.bodyparts-male-and-female-gender-symbols:before { content: "\f174"; }
.bodyparts-male-arm-muscles:before { content: "\f175"; }
.bodyparts-male-black-short-hair-shape-silhouette:before { content: "\f176"; }
.bodyparts-male-cartoon-outline-with-liquid-droplet:before { content: "\f177"; }
.bodyparts-male-hair-variant:before { content: "\f178"; }
.bodyparts-male-hand-palm-outline:before { content: "\f179"; }
.bodyparts-male-head-outline-side-view-with-medical-tape:before { content: "\f17a"; }
.bodyparts-male-head-side-view-with-brains:before { content: "\f17b"; }
.bodyparts-male-hips-and-quadriceps:before { content: "\f17c"; }
.bodyparts-male-human-body-silhouette-variant:before { content: "\f17d"; }
.bodyparts-male-legs-couple:before { content: "\f17e"; }
.bodyparts-male-nose-shape-of-a-line:before { content: "\f17f"; }
.bodyparts-male-outline-with-heart-shape-and-lifeline:before { content: "\f180"; }
.bodyparts-male-outline-with-image-of-the-heart:before { content: "\f181"; }
.bodyparts-male-outline-with-stomach-silhouette:before { content: "\f182"; }
.bodyparts-male-outline-with-syringe-symbol:before { content: "\f183"; }
.bodyparts-male-short-hair-shape:before { content: "\f184"; }
.bodyparts-male-sign:before { content: "\f185"; }
.bodyparts-male-silhouette-showing-view-of-dna-structure:before { content: "\f186"; }
.bodyparts-male-silhouette-with-body-organ-in-x-ray-view:before { content: "\f187"; }
.bodyparts-male-silhouette-with-plate-showing-sperms:before { content: "\f188"; }
.bodyparts-male-with-bald-hair-side-view:before { content: "\f189"; }
.bodyparts-man-having-an-x-ray-of-bone:before { content: "\f18a"; }
.bodyparts-man-holding-a-hand-bones-x-ray-image:before { content: "\f18b"; }
.bodyparts-man-outline-with-view-of-the-intestine:before { content: "\f18c"; }
.bodyparts-man-torso-muscles:before { content: "\f18d"; }
.bodyparts-medical-kit-outline:before { content: "\f18e"; }
.bodyparts-molecule-with-rings:before { content: "\f18f"; }
.bodyparts-moustache-outline:before { content: "\f190"; }
.bodyparts-mouth-outline-showing-off-tongue:before { content: "\f191"; }
.bodyparts-muscular-arm-outline:before { content: "\f192"; }
.bodyparts-mustache-curled-tip-variant:before { content: "\f193"; }
.bodyparts-nose-outline:before { content: "\f194"; }
.bodyparts-nose-pointed-variant-with-mustache:before { content: "\f195"; }
.bodyparts-observing-human-body-details-with-a-magnifier-tool:before { content: "\f196"; }
.bodyparts-pelvic-bone-silhouette:before { content: "\f197"; }
.bodyparts-pills-container:before { content: "\f198"; }
.bodyparts-plate-showing-deoxyribonucleic-acid-structure:before { content: "\f199"; }
.bodyparts-polygon-shape-outline-with-circle-and-stitch:before { content: "\f19a"; }
.bodyparts-ribs-lines:before { content: "\f19b"; }
.bodyparts-ribs-x-rays:before { content: "\f19c"; }
.bodyparts-short-black-male-hair-shape:before { content: "\f19d"; }
.bodyparts-skin-layers-with-hair-follicles:before { content: "\f19e"; }
.bodyparts-skull-cartoon-variant-outline:before { content: "\f19f"; }
.bodyparts-skull-cartoon-variant-with-tape-on-left-eye:before { content: "\f1a0"; }
.bodyparts-skull-of-straight-lines:before { content: "\f1a1"; }
.bodyparts-skull-outline-from-frontal-view:before { content: "\f1a2"; }
.bodyparts-small-syringe-with-large-droplet-of-fluid:before { content: "\f1a3"; }
.bodyparts-smiling-mouth-showing-teeth:before { content: "\f1a4"; }
.bodyparts-sperm-entering-to-an-ovule:before { content: "\f1a5"; }
.bodyparts-sperms:before { content: "\f1a6"; }
.bodyparts-spleen:before { content: "\f1a7"; }
.bodyparts-spleen-human-body-part:before { content: "\f1a8"; }
.bodyparts-standing-human-body-shape:before { content: "\f1a9"; }
.bodyparts-standing-human-body-silhouette:before { content: "\f1aa"; }
.bodyparts-standing-male-silhouette-with-x-ray-view-of-the-lungs:before { content: "\f1ab"; }
.bodyparts-standing-man-holding-a-large-intestines-image:before { content: "\f1ac"; }
.bodyparts-standing-man-holding-an-x-rays-image:before { content: "\f1ad"; }
.bodyparts-stomach:before { content: "\f1ae"; }
.bodyparts-stomach-inside-human-body:before { content: "\f1af"; }
.bodyparts-straight-bones-cross:before { content: "\f1b0"; }
.bodyparts-sweat-or-tear-drop-outline:before { content: "\f1b1"; }
.bodyparts-symmetrical-body-parts:before { content: "\f1b2"; }
.bodyparts-syringe:before { content: "\f1b3"; }
.bodyparts-tablet-and-capsule-medications:before { content: "\f1b4"; }
.bodyparts-test-tube-with-droplet:before { content: "\f1b5"; }
.bodyparts-thin-lips-outline:before { content: "\f1b6"; }
.bodyparts-tiptoe-feet-outline:before { content: "\f1b7"; }
.bodyparts-tooth-human-body-part:before { content: "\f1b8"; }
.bodyparts-tooth-outline:before { content: "\f1b9"; }
.bodyparts-tooth-outline-1:before { content: "\f1ba"; }
.bodyparts-tooth-shape-outline:before { content: "\f1bb"; }
.bodyparts-tooth-x-rays-vision:before { content: "\f1bc"; }
.bodyparts-two-fingers-between-three-in-a-hand-outline:before { content: "\f1bd"; }
.bodyparts-two-fingers-of-a-hand:before { content: "\f1be"; }
.bodyparts-upper-body-muscular-view:before { content: "\f1bf"; }
.bodyparts-upper-torso-of-a-woman:before { content: "\f1c0"; }
.bodyparts-urine-in-a-flask-for-experimentation:before { content: "\f1c1"; }
.bodyparts-uterus-and-fallopian-tube:before { content: "\f1c2"; }
.bodyparts-uterus-and-fallopian-tube-inside-woman-body-outline:before { content: "\f1c3"; }
.bodyparts-waist:before { content: "\f1c4"; }
.bodyparts-woman-dark-long-hair-shape:before { content: "\f1c5"; }
.bodyparts-wound-in-a-hand:before { content: "\f1c6"; }
.bodyparts-young-male-black-short-hair-shape:before { content: "\f1c7"; }
